<div class="col-4 text-center">

  <div class="contenedor">

    <p class="h5 text-center mb-4">Sign in</p>

    <div class="md-form">
      <i class="far fa-smile"></i>
      <input type="text" id="defaultForm-email" [(ngModel)]="user" class="form-control">
      <label type="text" for="defaultForm-email" ngDefaultControl>Inserta tu nombre</label>
    </div>


    <div class="text-center">
      <button class="btn btn-default" (click)="crearJugador()">Login</button>
    </div>

  </div>
</div>
<!-- Form login -->
