<div class="container-fluid">
  <h1>Tres en raya</h1>
  <div id="3enraya">
    <div class="row">
      <button (click)="clickeado($event)"></button>
      <button
        (click)="clickeado($event)"></button>
      <button
        (click)="clickeado($event)"></button>
    </div>
    <div class="row">
      <button
        (click)="clickeado($event)"></button>
      <button
        (click)="clickeado($event)"></button>
      <button
        (click)="clickeado($event)"></button>
    </div>
    <div class="row">
      <button
        (click)="clickeado($event)"></button>
      <button
        (click)="clickeado($event)"></button>
      <button
        (click)="clickeado($event)"></button>
    </div>
  </div>
</div>
<script>
  console.log("hola")
  console.log($("#3enraya:first-child"))
</script>
