<div class="container-fluid">
  <h1>Tres en raya</h1>
  <table>
    <tr>
      <th
      (click)="clickeado($event)"></th>
      <th
      (click)="clickeado($event)"></th>
      <th
      (click)="clickeado($event)"></th>
    </tr>
    <tr>
      <th
      (click)="clickeado($event)"></th>
      <th
      (click)="clickeado($event)"></th>
      <th
      (click)="clickeado($event)"></th>
    </tr>
    <tr>
      <th
      (click)="clickeado($event)"></th>
      <th
      (click)="clickeado($event)"></th>
      <th
      (click)="clickeado($event)"></th>
    </tr>
  </table>
</div>
